{% extends "base.html.jinja" %}

{% block content %}
<div class="container">
    {% if error %}
    <div class="row mt-3">
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    </div>
    {% endif %}
    <div class="row mt-3">
        <h2>Recommendations for "{{ repository }}" - <code>{{ workflow }}</code></h2>
    </div>
    <br>
    <br>
    {% if results %}
    <table class="table">
        <thead>
            <tr>
                <th>Line</th>
                <th>Recommendations</th>
            </tr>
        </thead>
        {% for _, result_value in results.items() %}
        <thead>
            <tr class="table-secondary">
                <th colspan="2">
                    {{ result_value.heading }}
                    {% if result_value.fix %}
                    <a href="{{ result_value.fix }}" class="btn btn-primary align-self-center" role="button"
                        aria-label="Fix" onclick="showSpinner()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-hammer" viewBox="0 0 16 16">
                            <path
                                d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5 5 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334" />
                        </svg>
                        Fix</a>
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for result in result_value.results %}
            <tr class="table-{{ result.sev }}">
                <td>{{ result.line }}</td>
                <td>{{ result.rec }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
    </table>
    {% else %}
    <p>No results found.</p>
    {% endif %}
</div>
{% endblock content %}